h1 {
  text-align: center;
  font-family: akronim;
}

td {
  width: 100px;
  height: 100px;
}

table {
  margin: auto;
}

.horizontal {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.vertical {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}